body {
	font-family: sans-serif;	
	min-width: 320px;
	position: relative;
	line-height: 1.3;	
	overflow-x: hidden;
}
.hidden {
	display: none;
}
/* Style for our header texts
* --------------------------------------- */
.intro p{
	color: #fff;
}
/* Centered texts in each section
* --------------------------------------- */
.section{
	max-width: 100%;
	height: auto;	
}
.fp-tableCell {
	display: block;
}