#section0 {	
	width: 100%;
	background: url(../img/bg1.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}
.controlArrow.prev {
		left: 50px;
	}
	.controlArrow.next{
		right: 50px;
	}
	#fp-nav {
		top: 50%;
	}
	#fp-nav ul li, 
	.fp-slidesNav ul li {
		margin-bottom: 25px;
		margin-left: 25px;
	}
	#fp-nav ul li a span, 
	.fp-slidesNav ul li a span {
		width: 14px;
		height: 14px;
		background: transparent;
		border: 1px solid #e72473;
	}
	#fp-nav ul li:hover a span, 
	.fp-slidesNav ul li:hover a span {
		width: 14px;
		height: 14px;
		background: #e72473;
		border: 1px solid #e72473;
		margin: -2px 0 0 -2px;
	}
	#fp-nav ul li a.active span, 
	.fp-slidesNav ul li a.active span, 
	#fp-nav ul li:hover a.active span, 
	.fp-slidesNav ul li:hover a.active span {
		width: 14px;
		height: 14px;
		background: #e72473;
		border: 1px solid #e72473;
		margin: -2px 0 0 -2px;
	}