#section7 {
	background: url(../img/bg8.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}
#footer{
		position: absolute;
		-ms-text-align-last: auto;
		text-align: left;
		height: 150px;
		display:block;
		width: 100%;
		background: #f9d2c3;
		z-index:9;		
		color: #1d1d1b;
		padding: 0;
		bottom:0px;
	}
	.main-footer ul {
		padding: 0;
		margin: 0;
	}
	.main-footer ul li {
		list-style-type: none;
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		height: 30px;
		padding-top: 30px;
	}
	.main-footer ul li:first-child {
		max-width: 400px;
		width: 100%;
		margin-left: 165px;
	}
	.main-footer ul li a {
		width: 30px;
		height: 30px;
		overflow: hidden;
	}
	.main-footer ul li a img {
		max-width: 100%;
	}
	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}